@mixin aspect-ratio($width, $height) {
  position: relative;
  overflow: hidden;
  &::before {
    display: block;
    content: "";
    width: 100%;
    padding-top: percentage($height / $width);
  }
  > img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 0;
  }
}

@mixin change-aspect-ratio($width, $height) {
  &::before {
    padding-top: percentage($height / $width);
  }
}
