{{ $site_title := .Site.Data.branding.site_name | default .Site.Title }}
<header class="header">
  <div class="header__wrap">
    <h1 class="header__title wid-12">
      <a class="header__logo-link" href="{{ .Site.BaseURL }}">
        {{ with .Site.Params.logo }}
        <img class="header__logo" src="{{ . | absURL }}" alt="{{ $site_title }}">
        {{ else }}
        {{ $site_title }}
        {{ end }}
      </a>
    </h1>
    {{ partial "social-list" . }}
    <nav class="header__nav">
      <span class="header__nav-toggle"></span>
      <ul class="list header__nav-list">
        {{ range .Site.Menus.main }}
          <li class="header__nav-item">
            <a class="header__nav-link" href="{{ .URL | absURL }}">{{ .Name }}</a>
          </li>
        {{ end }}
      </ul>
    </nav>
  </div>
</header>
