{{ $site_title := .Site.Data.branding.site_name | default .Site.Title }}
<header class="header" role="banner">
  <div class="header__wrap">
    <h1 class="header__title wid-12">
      <a class="header__logo-link" href="{{ .Site.BaseURL }}">
        {{ with .Site.Params.logo }}
        <img class="header__logo" src="{{ . | absURL }}" alt="{{ $site_title }} &mdash; Home">
        {{ else }}
        {{ $site_title }}
        {{ end }}
      </a>
    </h1>

    {{ partial "social-list" . }}
    <span class="header__toggle" tabindex="0">
      <noscript>
        <a href="#footer-nav"><span class="hidden">Go to Footer Menu</span></a>
      </noscript>
    </span>
    <nav class="header__nav active" role="navigation">
      <ul class="list header__nav-list">
        {{ range .Site.Menus.main }}
        <li class="header__nav-item">
          <a class="header__nav-link" href="{{ .URL | absURL }}">{{ .Name }}</a>
        </li>
        {{ end }}
      </ul>
    </nav>
  </div>
</header>
