<section class="sidebar__section sidebar__section--about md-wid-8 lg-wid-auto">
  <h1 class="hidden">About {{ .Site.Data.branding.site_name | default .Site.Title }}</h1>
  <img class="logo logo--square logo--sidebar wid-12" src="{{ "/logos/icon.svg" | absURL }}" alt="{{ .Site.Params.site_name | default .Site.Title }}">
  <p class="sidebar__description">{{ .Site.Params.description }} <a href="{{ "/about" | absURL }}" class="link link--muted">Read&nbsp;More <span class="hidden">about {{ .Site.Params.site_name | default .Site.Title }}</span></a></p>
</section>
<section class="sidebar__section sidebar__section--social md-wid-auto ns-wid-4">
  <h1 class="sidebar__label">Follow the Magazine</h1>
  <nav class="sidebar__social">
    {{ partial "social-list" . }}
  </nav>
</section>
{{ if ne .Title "Search" }}
<section class="sidebar__section sidebar__section--search md-wid-12 ns-wid-8">
  <form class="form card" action="{{ "/search/" | absURL }}">
    <label class="hidden" for="sidebar-search">Search</label>
    <div class="form__group">
      <input id="sidebar-search" class="search__field wid-12" type="text" name="q" placeholder="Search" value="">
      <button class="search__btn">
        <span class="hidden">Search</span>
        {{ partial "icon/magnify.svg" . }}
      </button>
    </div>
  </form>
</section>
{{ end }}
