<article class="article--alpha">

  <header class="article__header">

    {{ with .Params.cover_image }}
      <div class="image__wrap">
        <img src="{{ . | absURL }}" alt="">
      </div>
    {{ end }}

    <div class="article__meta">

      <h2>{{ .Title }}</h2>

      {{ with .Params.categories }}
        {{ $category := index . 0 }}
        <p><a href="{{ $category | urlize | printf "/categories/%s/" | absURL }}">{{ $category }}</a></p>
      {{ end }}

      {{ partial "byline.html" .  }}

    </div>

  </header>

  <section class="article__content">

    {{ with .Params.teaser }}
      <p class="article__sum--teaser">{{ . }}</p>
    {{ else }}
      <p class="article__sum">{{ .Summary }}</p>
    {{ end }}

  </section>

  <footer>

    {{ if .Truncated }}
      <a href="{{ .Permalink | absURL }}">Read More</a>
    {{ end }}

  </footer>

</article>
