.u-columns {
  @include global-max-width;
  @include grid-container;

  margin-left: auto;
  margin-right: auto;

  @media #{$brkpt-sm} {
    width: 36rem;
  }

  @media #{$brkpt-md} {
    width: 40rem;
  }

  @media #{$brkpt-lg} {
    width: 100%;
  }
}

.u-mainColumn,
.u-leftSidebar,
.u-rightSidebar {
  @include grid-column(12);
}

// the magic happens above the large breakpoint
@media #{$brkpt-sm} {
  .sm-u-leftSidebar {
    @include grid-column(3);
  }

  .sm-u-mainColumn {
    @include grid-column(7);
  }
}
@media #{$brkpt-lg} {

  .u-mainColumn {
    @include grid-column(7, $neat-wide-grid);
  }

  .u-rightSidebar {
    @include grid-column(2, $neat-wide-grid);
  }

  .u-leftSidebar {
    @include grid-column(3, $neat-wide-grid);
  }

  .u-push-3 {
    @include grid-push(3, $neat-wide-grid);
  }

  .u-pull-10 {
    @include grid-push(-10, $neat-wide-grid);
  }

  .u-pull-12 {
    @include grid-push(-12, $neat-wide-grid);
  }
}
