.markdown {
  font-family: $ff-serif;
}


%h1,
%h2,
%h3,
%h4,
%h5,
%h6,
.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  color: $c-black;
  font-family: $ff-disp;
}

%p,
.markdown > p {
  color: $c-grey-75;
  font-family: $ff-serif;
}

%bq,
.markdown > blockquote {
  color: $c-grey-60;
  font-family: $ff-disp;
  font-style: italic;
  margin: $sp-lg 0;
}

%a,
.markdown a {
  color: $c-brand;

  &:visited {
    color: $c-acc2;
  }

  &:focus,
  &:hover,
  &:active {
    color: $c-brand-shade2;
  }
}

.markdown > blockquote {
  p {
    margin: 0;
  }

  &::before {
    border-top: $sp-sm $c-brand-tint solid;
    content: '';
    display: block;
    margin-bottom: $sp-md;
    width: $sp-xl;
  }
}

.markdown img {
  width: 100%;
  display: block;

  @supports (width: calc(100% + 2 * 16px)) {
    width: calc(100% + 2 * 16px);
    margin: $sp-lg (-$sp-md);

    @media #{$brkpt-sm} {
      width: calc(100% + 2 * 32px);
      margin-left: -$sp-lg;
      margin-right: -$sp-lg;
    }
  }
}
