%p,
.markdown {
  color: $c-grey-75;
  font-family: $ff-serif;
}

%h1,
%h2,
%h3,
%h4,
%h5,
%h6,
.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  color: $c-black;
  font-family: $ff-sans;
}

%h2,
.markdown h2 {

}

%h3,
.markdown h3 {
  text-transform: uppercase;
  letter-spacing: 0.07em;
  font-weight: 400;
  padding-bottom: $vsp-xs;
  border-bottom: 1px $c-grey-20 solid;
}

%h4,
.markdown h4 {
  font-weight: 400;
}

%a,
.markdown a {
  color: $c-brand;

  &:visited {
    color: $c-acc2;
  }

  &:focus,
  &:hover,
  &:active {
    color: $c-brand-shade2;
  }
}

%bq,
.markdown > blockquote {
  color: $c-grey-60;
  font-family: $ff-disp;
  font-style: italic;
  margin: $vsp-xl 0;

  p {
    margin: 0;
  }

  &::before {
    border-top: 4px $c-acc1 solid;
    content: '';
    display: block;
    margin-bottom: $vsp-md;
    width: $hsp-xl;
  }
}

.markdown img {
  width: 100%;
  display: block;

  @supports (width: calc(100% + 2 * 16px)) {
    width: calc(100% + 2 * 16px);
    margin: $vsp-lg (-$hsp-md);

    @media #{$brkpt-sm} {
      width: calc(100% + 2 * 32px);
      margin-left: -$hsp-lg;
      margin-right: -$hsp-lg;
    }
  }
}
