%p,
.markdown {
  color: $c-grey-75;
  font-family: $ff-serif;
}

.markdown > *:last-child {
  margin-bottom: 0;
}

.markdown > *:first-child {
  margin-top: 0;
}

%h1,
%h2,
%h3,
%h4,
%h5,
%h6,
.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  margin-bottom: $vsp-md;
  color: $c-black;
  font-family: $ff-sans;
}

%h4,
%h5,
%h6,
.markdown h4,
.markdown h5,
.markdown h6 {
  font-weight: 600;
}

%h1,
%h2,
.markdown h1,
.markdown h2 {
  font-weight: 400;
}

%h3,
.markdown h3 {
  text-transform: uppercase;
  letter-spacing: 0.07em;
  font-weight: 400;
}

%h4,
.markdown h4 {
  padding-bottom: $vsp-xxs;
  border-bottom: 1px $c-grey-20 solid;
}

%h6,
.markdown h6 {
  text-transform: uppercase;
  letter-spacing: 0.07em;
}

.markdown p,
.markdown ol,
.markdown ul,
.markdown dl {

  & + h1,
  & + h2 {
    margin-top: $vsp-xl;
  }

  & + h3,
  & + h4 {
    margin-top: $vsp-lg;
  }

  & + h5,
  & + h6 {
    margin-top: $vsp-lg;
    margin-bottom: $vsp-xs;
  }
}

.markdown p {
  margin: 0 0 $vsp-sm;
}

.markdown ol,
.markdown ul,
.markdown dl {
  margin: $vsp-md 0;
  padding-left: $hsp-lg;
}

%a,
.markdown a {
  color: $c-brand;


  &:focus,
  &:hover,
  &:active {
    color: $c-brand-shade2;
  }

  &:visited {
    color: $c-acc2;

    &:hover,
    &:focus,
    &:active {
      color: $c-acc2-shade;
    }
  }
}

%bq,
.markdown > blockquote {
  color: $c-black;
  font-family: $ff-sans;
  font-weight: 600;
  margin: $vsp-xl 0;

  p {
    margin: 0;
  }

  &::before,
  &::after {
    border-top: 8px $c-acc1 solid;
    content: '';
    display: block;
    width: $hsp-xl;
  }

  &::before {
    margin-bottom: $vsp-lg;
  }

  &::after {
    margin-top: $vsp-lg;
  }
}

.markdown img {
  width: 100%;
  display: block;

  @supports (width: calc(100% + 2 * 16px)) {
    width: calc(100% + 2 * 24px);
    margin: $vsp-lg (-$hsp-md);

    @media #{$brkpt-md} {
      width: calc(100% + 2 * 48px);
      margin-left: -$hsp-lg;
      margin-right: -$hsp-lg;
    }
  }
}

.markdown mark {
  background-color: $c-acc1-tint;
  color: inherit;
}
