// adding font stackss
$family-serif: Georgia, Times, serif;
$family-disp: "Playfair Display", $family-serif;

// overriding colors
$turquoise:    hsl(203, 59%, 38%);
$yellow:       hsl(50, 88%, 69%);
$purple:       hsl(288, 48%, 34%);
$primary:      $yellow;
$blue:         hsl(216, 84%, 39%);
$blue-dark:    hsl(216, 81%, 21%);

$white-bis:    hsl(240, 19%, 98%);
$white-ter:    darken($white-bis, 3);

$grey-lighter: darken($white-bis, 5);
$grey-light:   darken($white-bis, 15);
$grey:         darken($white-bis, 45);
$grey-dark:    darken($white-bis, 60);
$grey-darker:  darken($white-bis, 75);

$black-ter:    darken($white-bis, 88);
$black-bis:    darken($white-bis, 90);
$black:        darken($white-bis, 95);

// overriding the base font-size (100% will allow the user to adjust the text size in their browser preferences)
$size-6: 100%;

$text: $grey-darker;
$text-light: $grey-dark;
$text-strong: $black-ter;

$code-background: $grey-lighter;
$pre-background: $grey-light;

// link styling
$link: $blue;

$link-hover: $blue-dark;
$link-focus: $blue-dark;
$link-focus-border: $blue;
$link-active: $blue-dark;
