html {
  font-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

@mixin fs-0 {
  font-size: 2.75rem;
  line-height: 1.05;

  @media #{$brkpt-md} {
    font-size: 3.125rem;
  }

  @media #{$brkpt-lg} {
    font-size: 3.875rem;
  }
}

@mixin fs-1 {
  font-size: 2rem;
  line-height: 1.125;

  @media #{$brkpt-md} {
    font-size: 2.5rem;
  }
}

@mixin fs-2 {
  font-size: 1.5rem;
  line-height: 1.25;

  @media #{$brkpt-md} {
    font-size: 1.625rem;
  }
}

@mixin fs-3 {
  font-size: 1.25rem;
  line-height: 1.25;

  @media #{$brkpt-md} {
    font-size: 1.375rem;
  }
}

@mixin fs-4 {
  font-size: 1.125rem;
  line-height: 1.25;

  @media #{$brkpt-md} {
    font-size: 1.25rem;
  }
}

@mixin fs-5 {
  font-size: 1rem;
  line-height: 1.375;

  @media #{$brkpt-md} {
    font-size: 1.125rem;
  }
}

@mixin fs-6 {
  font-size: 0.875rem;
  line-height: 1.375;

  @media #{$brkpt-md} {
    font-size: 1rem;
  }
}

@mixin fs-body {
  font-size: 1.125rem;
  line-height: 1.5;

  @media #{$brkpt-sm} {
    font-size: 1.25rem;
  }
}

@mixin fs-small {
  font-size: 0.875rem;
  line-height: 1.375;
}

@mixin fs-ui {
  line-height: 1.5;
  font-size: 1rem;
}
