.hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.no-grid {
  display: block;
}

.wid-auto {
  width: auto;
}

@media #{$brkpt-sm} {
  .ns-no-grid {
    display: block;
  }

  .ns-wid-auto {
    width: auto;
  }
}

@media #{$brkpt-md} {
  .md-no-grid {
    display: block;
  }

  .md-wid-auto {
    width: auto;
  }
}

@media #{$brkpt-lg} {
  .lg-no-grid {
    display: block;
  }

  .lg-wid-auto {
    width: auto;
  }
}

@mixin global-max-width {
  margin-left: auto;
  margin-right: auto;
  max-width: $site-max-width;
}

.u-markdown {
  @include fs-body;
  color: $c-grey-75;
  font-family: $ff-sans;

  > *:last-child {
    margin-bottom: 0;
  }

  > *:first-child {
    margin-top: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: $vsp-md;
    color: $c-black;
    font-family: $ff-sans;
    font-weight: 700;
  }

  h1 {
    @include fs-1;
  }

  h2 {
    @include fs-2;
    text-transform: uppercase;
    letter-spacing: 0.07em;
  }

  h3 {
    @include fs-3;
  }

  h4 {
    @include fs-4;
    padding-bottom: $vsp-xxs;
    border-bottom: 1px $c-grey-20 solid;
  }

  h5 {
    @include fs-5;
  }

  h6 {
    @include fs-6;
    text-transform: uppercase;
    letter-spacing: 0.07em;
  }

  p,
  ol,
  ul,
  dl {

    & + h1,
    & + h2 {
      margin-top: $vsp-xl;
    }

    & + h3,
    & + h4 {
      margin-top: $vsp-lg;
    }

    & + h5,
    & + h6 {
      margin-top: $vsp-lg;
      margin-bottom: $vsp-xs;
    }
  }
}
