.hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.no-grid {
  display: block;
}

@media #{$brkpt-sm} {
  .ns-no-grid {
    display: block;
  }
}

@media #{$brkpt-md} {
  .md-no-grid {
    display: block;
  }
}

@media #{$brkpt-lg} {
  .lg-no-grid {
    display: block;
  }
}
