// # Breakpoints
$brkpt-xs: screen and (min-width: 24em);
$brkpt-sm: screen and (min-width: 38em);
$brkpt-md: screen and (min-width: 48em);
$brkpt-md-only: "screen and (min-width: 38em) and (max-width: 63.975em)";
$brkpt-lg: screen and (min-width: 64em);
$brkpt-xl: screen and (min-width: 80em);

// # Spacing
$sp-xxs: 2px;
$sp-xs: 4px;
$sp-sm: 8px;
$sp-md: 16px;
$sp-lg: 32px;
$sp-xl: 64px;

// -inset-: Sets an equal amount of space on all sides of a box

// For grids, it is recommended that inset spacing be set on the parent grid as
// well as its children items to ensure equal spacing between all items and
// between items and the edges of the grid.
$sp-inset-xs: 4px;
$sp-inset-sm: 8px;
$sp-inset-md: 16px;
$sp-inset-lg: 32px;
$sp-inset-xl: 64px;

// -stacl-: Sets space on the top of the box and removes it from all other sides
$sp-stack-xxs: 2px 0 0 0;
$sp-stack-xs: 4px 0 0 0;
$sp-stack-sm: 8px 0 0 0;
$sp-stack-md: 16px 0 0 0;
$sp-stack-lg: 32px 0 0 0;
$sp-stack-xl: 64px 0 0 0;

// -gutters-: Sets space on the left and right of the box and removes it from the top and
// bottom

// For grids, it is recommended that gutter spacing be set on the parent grid as
// well as its children columns to ensure equal spacing between all columns and
// between columns and the edges of the grid.
$sp-gutters-xxs: 0 2px;
$sp-gutters-xs: 0 4px;
$sp-gutters-sm: 0 8px;
$sp-gutters-md: 0 16px;
$sp-gutters-lg: 0 32px;
$sp-gutters-xl: 0 64px;

// -inline-: Sets space to the right side of the box and removes it from all other sides
$sp-inline-xxs: 0 2px 0 0;
$sp-inline-xs: 0 4px 0 0;
$sp-inline-sm: 0 8px 0 0;
$sp-inline-md: 0 16px 0 0;
$sp-inline-lg: 0 32px 0 0;
$sp-inline-xl: 0 64px 0 0;

// -stretch-: Sets an equal amount of space on the left and right sides of a box and a
// larger amount on the top and bottom
$sp-stretch-sm: 8px 4px;
$sp-stretch-md: 16px 8px;
$sp-stretch-lg: 32px 16px;

// -squish-: Sets an equal amount of space on the top and bottom sides of a box and a
// larger amount on the right and left
$sp-squish-sm: 8px 12px;
$sp-squish-md: 16px 24px;

// # Layout
$columns: 12;
$site-max-width: 72rem;

// # Color
$c-brand:        rgb(25, 86, 190);
$c-brand-shade2: adjust-color($c-brand, $lightness: -25%, $saturation: 30%, $hue: -3deg);
$c-brand-shade:  adjust-color($c-brand, $lightness: -17%, $saturation: 15%, $hue: -2deg);
$c-brand-tint:   adjust-color($c-brand, $lightness: 20%, $saturation: -13%, $hue: 1deg);
$c-brand-tint2:  adjust-color($c-brand, $lightness: 35%, $saturation: -21%, $hue: 2deg);
$c-brand-tint3:  adjust-color($c-brand, $lightness: 50%, $saturation: -33%, $hue: 3deg);

$c-acc1:       rgb(246, 212, 110);
$c-acc1-tint:  adjust-color($c-acc1, $lightness: 15%, $saturation: -10%, $hue: 2deg);
$c-acc1-shade: adjust-color($c-acc1, $lightness: -20%, $saturation: 8%, $hue: -2deg);
$c-acc1-shade2: adjust-color($c-acc1, $lightness: -52%, $saturation: 30%, $hue: -5deg);

$c-acc2:       rgb(114, 45, 131);
$c-acc2-shade: adjust-color($c-acc2, $lightness: -16%, $saturation: 15%, $hue: -1deg);
$c-acc2-tint:  adjust-color($c-acc2, $lightness: 30%, $saturation: -21%, $hue: 2deg);

$c-white: rgb(255, 255, 255);
$c-off-white: rgb(251, 251, 252);
$c-grey-5: darken($c-off-white, 5);
$c-grey-10: darken($c-off-white, 10);
$c-grey-20: darken($c-off-white, 20);
$c-grey-60: darken($c-off-white, 60);
$c-grey-75: darken($c-off-white, 75);
$c-black: darken($c-off-white, 95);

$c-shad: transparentize($c-black, 0.75);
$c-shad-wk: transparentize($c-black, 0.92);

// # Typography
$ff-base: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
$ff-sans: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
$ff-serif: Georgia, Times, serif;
$ff-mono: Inconsolata, "Courier New", Courier, monospace;
$ff-disp: "Playfair Display", $ff-sans;
