// # Breakpoints
$brkpt-xs: screen and (min-width: 24em);
$brkpt-sm: screen and (min-width: 38em);
$brkpt-md: screen and (min-width: 48em);
$brkpt-md-only: "screen and (min-width: 38em) and (max-width: 63.975em)";
$brkpt-lg: screen and (min-width: 64em);
$brkpt-xl: screen and (min-width: 80em);

// # Spacing
$hsp-xxs: 4px;
$hsp-xs: 8px;
$hsp-sm: 16px;
$hsp-md: 24px;
$hsp-lg: 48px;
$hsp-xl: 64px;

$vsp-xxs: 0.25rem;
$vsp-xs: 0.5rem;
$vsp-sm: 1rem;
$vsp-md: 1.5rem;
$vsp-lg: 3rem;
$vsp-xl: 4rem;

// # Layout
$columns: 12;
$site-max-width: 80rem;

// # Color
$c-brand:        rgb(75, 119, 166);
$c-brand-shade2: adjust-color($c-brand, $lightness: -25%, $saturation: 30%, $hue: -3deg);
$c-brand-shade:  adjust-color($c-brand, $lightness: -17%, $saturation: 15%, $hue: -2deg);
$c-brand-tint:   adjust-color($c-brand, $lightness: 20%, $saturation: -11%, $hue: 1deg);
$c-brand-tint2:  adjust-color($c-brand, $lightness: 35%, $saturation: -18%, $hue: 2deg);
$c-brand-tint3:  adjust-color($c-brand, $lightness: 45%, $saturation: -21%, $hue: 3deg);

$c-acc1:         rgb(246, 212, 110);
$c-acc1-tint:    adjust-color($c-acc1, $lightness: 15%, $saturation: -10%, $hue: 2deg);
$c-acc1-shade:   adjust-color($c-acc1, $lightness: -20%, $saturation: 8%, $hue: -2deg);
$c-acc1-shade2:  adjust-color($c-acc1, $lightness: -52%, $saturation: 30%, $hue: -5deg);

$c-error:        rgb(194, 48, 44);
$c-error-tint:   adjust-color($c-error, $lightness: 37%, $saturation: -15%, $hue: 2deg);
$c-error-shade:  adjust-color($c-error, $lightness: -25%, $saturation: 18%, $hue: -2deg);

$c-acc2:         rgb(114, 45, 131);
$c-acc2-shade:   adjust-color($c-acc2, $lightness: -16%, $saturation: 15%, $hue: -1deg);
$c-acc2-tint:    adjust-color($c-acc2, $lightness: 30%, $saturation: -21%, $hue: 2deg);

$c-white:        rgb(255, 255, 255);
$c-off-white:    rgb(251, 251, 252);
$c-grey-5:       darken($c-off-white, 5);
$c-grey-10:      darken($c-off-white, 10);
$c-grey-20:      darken($c-off-white, 20);
$c-grey-60:      darken($c-off-white, 60);
$c-grey-75:      darken($c-off-white, 75);
$c-grey-85:      darken($c-off-white, 85);
$c-black:        darken($c-off-white, 95);

$c-shad:         transparentize($c-black, 0.75);
$c-shad-wk:      transparentize($c-black, 0.92);

// # Typography
$ff-base: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
$ff-sans: "acumin-pro", $ff-base;
$ff-serif: Georgia, Times, serif;
$ff-mono: Inconsolata, "Courier New", Courier, monospace;
$ff-disp: "kepler-std-semicondensed-dis", $ff-serif;

$neat-grid: (
  columns: 12,
  gutter: $hsp-sm
);

$neat-wide-grid: (
  columns: 12,
  gutter: $hsp-lg
);
