.article {
  @include card;

  margin-left: -$sp-md;
  margin-right: -$sp-md;

  @media #{$brkpt-sm} {
    margin: 0;
  }
}

.article__body {
  padding: $sp-inset-md;

  @media #{$brkpt-sm} {
    padding: $sp-inset-lg;
  }
}
