%list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list {
  @extend %list;
}

.list--cards {
  @extend %list;
}

.list--flex {
  @extend %list;
  display: flex;
  flex-wrap: true;
}

.list--social {
  display: flex;
}

.list__item--social {
  margin-right: $sp-sm;
}
