@mixin gutter($level, $axis) {
  @if not map-has-key($gutters, $level) {
    @error "The gutter mixin received a value of `#{$level}` for $level, which must be one of: `1`, `2`.";
  }

  $full: map-get($gutters, $level);
  $half: $full / 2;

  @if $axis == "a" {

    padding: $half;

    .gtr {
      padding: $half;
    }

    .nogtr {
      margin: -$half;
      padding: $full;
    }

  } @else if $axis == "x" {

    padding-left: $half;
    padding-right: $half;

    .gtr {
      padding-left: $half;
      padding-right: $half;
    }

    .nogtr {
      margin-bottom: -$half;
      margin-top: -$half;
      padding-bottom: $full;
      padding-top: $full;
    }

  } @else if $axis == "y" {

      padding-bottom: $half;
      padding-top: $half;

      .gtr {
        padding-bottom: $half;
        padding-top: $half;
      }

      .nogtr {
        margin-bottom: -$half;
        margin-top: -$half;
        padding-bottom: $full;
        padding-top: $full;
      }

    } @else {
      @error "The gutter mixin received a value of `#{$axis}` for $axis, which must be one of: `a`, `x`, or `y`.";
    }
}
