<!DOCTYPE html>
<html>
  <head>

    {{ partial "head.html" . }}

  </head>
  <body class="page">

    {{ partial "site/header.html" . }}


    {{ block "hero" . }}{{ end }}

    <div class="page__content lg-grid">
      <main class="page__main lg-grid__block lg-wid-8">
        {{ block "content" . }}{{ end }}
      </main>
      <aside class="page__sidebar ns-grid lg-grid--vert grid__block lg-wid-4">
        {{ partial "site/sidebar.html" . }}
      </aside>
    </div>

    {{ partial "site/footer.html" . }}

  </body>
</html>
