{{ define "content" }}
<article class="Article">
  <header class="Article-header u-columns">
    <div class="Article-headerInsert u-mainColumn u-push-3">
      <h1 class="Article-title">{{ .Title }}</h1>
      {{ with .Params.teaser }}
      <p class="Article-teaser">
        {{ . }}
      </p>
      {{ end }}
      <p class="Article-dateline">
        {{ if .Params.authors }}
        {{ partial "byline.html" . }}
        on
        {{ end }}
        <time>{{ .Date | dateFormat "January 2, 2006"}}</time>
      </p>
    </div>
  </header>
  {{ if .Params.cover_image.src }}
  <div class="Hero">
    <div class="Hero-inner Article-cover Article-cover--tall">
      <img class="Article-coverImage" src="{{ .Params.cover_image.src | absURL }}" style="object-position:{{ with .Params.cover_image.focal_point }}{{ lower . }}{{ else }}center{{ end }}" alt="{{ .Params.cover_image.caption | default .Title }}" {{ if .Params.cover_image.caption }}aria-labelledby="coverCaption"{{ end }}>
    </div>
      {{ with .Params.cover_image.caption }}
      <div class="u-columns">
        <p id="coverCaption" class="Article-caption u-mainColumn u-push-3">{{ . }}</p>
      </div>
      {{ end }}
  </div>
  {{ end }}
  <div class="Article-columns u-columns">
    <div class="Article-body u-markdown u-mainColumn u-push-3">
      {{ .Content | markdownify }}
      <div class="Article-comments">
        {{ partial "disqus" . }}
      </div>
    </div>
    <footer class="Metadata u-rightSidebar">
      {{ with .Params.categories }}
      <section class="Metadata-section">
        <h1 class="Metadata-heading">Section</h1>
        <a class="Metadata-link" href="{{ index . 0 | urlize | printf "/categories/%s" | absURL }}">
          <span class="u-forSR">Section:</span> {{ index . 0 | title }}
        </a>
      </section>
      {{ end }}
      {{ with .Params.issues }}
      <section class="Metadata-section">
        <h1 class="Metadata-heading">Issue</h1>
        <a href="{{ index . 0 | urlize | printf "/issues/%s" | absURL }}" class="Metadata-link">
          <span class="u-forSR">Issue:</span> {{ index . 0 | title }}
        </a>
      </section>
      {{ end }}
      {{ with .Params.tags }}
      <section class="Metadata-section">
        <h1 class="Metadata-heading">Tags</h1>
        <ul class="Metadata-tags">
          {{ range . }}
          <li class="Metadata-tag">
            <a href="{{ . | urlize | printf "/tags/%s" | absURL }}" class="Metadata-link">
              {{ . | lower }}
            </a>
          </li>
          {{ end }}
        </ul>
      </section>
      {{ end }}
      <section class="Metadata-section Metadata-section--social">
        <h1 class="Metadata-heading">Share</h1>
        <div class="Metadata-socialWidget">
          <a href="https://facebook.com/sharer.php?u={{ .Permalink | absURL }}" rel="nofollow" target="_blank" title="Share on Facebook" class="Metadata-link Metadata-link--social">
            <span class="u-forSR">Share on Facebook</span>
            <span class="Icon Icon--facebook">
              {{ partial "icon/facebook.svg" . }}
            </span>
          </a>
          <a href="https://twitter.com/intent/tweet?text={{ .Title }}&url={{ .Permalink | absURL }}" rel="nofollow" target="_blank" title="Share on Twitter" class="Metadata-link Metadata-link--social">
            <span class="u-forSR">Share on Twitter</span>
            <span class="Icon Icon--twitter">
              {{ partial "icon/twitter.svg" . }}
            </span>
          </a>
        </div>
      </section>
    </footer>
    <aside class="Sidebar u-leftSidebar u-pull-12">
      {{ partial "about-block" . }}
    </aside>
  </div>
  </div>
</div>
{{ end }}
