{{ define "head-title" }}
{{ .Data.Singular | title }}: {{ .Title }} &mdash; {{ .Site.Params.site_name }}
{{ end }}

{{ define "hero" }}
<div class="hero hero--bold">
  <div class="hero__inner">
    <h1 class="hero__title">
      <span class="sub">{{ .Data.Singular | title }}</span>
      {{ .Title }}
    </h1>
    {{ with (where (index (index .Site.Data .Data.Plural) .Data.Plural) "name" .Title) }}
    <div class="hero__extra">
      <p class="hero__body">{{ (index . 0).description }}</p>
    </div>
    {{ end }}
  </div>
</div>
{{ end }}

{{ define "content" }}
  <ul class="list">
    {{ range .Data.Pages }}
      {{ .Render "card" }}
    {{ end }}
  </ul>
{{ end }}
