<p class="card__byline">

  {{ with .Params.authors }}
    {{ $author_links := apply (apply (sort .) "partial" "staff/link.html" ".") "chomp" "." }}
    {{ if le (len $author_links) 2 }}
    by {{ delimit $author_links " and " | safeHTML }}
    {{ else }}
    by {{ delimit $author_links ", " "and " | safeHTML }}
    {{ end }}
  {{ else }}
    by {{ $.Site.Title }}
  {{ end }}

  &bull;

  <time datetime="{{ .Date | dateFormat "2006-01-02" }}" itemprop="datePublished">{{ .Date | dateFormat "Jan 2, 2006" }}</time>

</p>
