{{ define "head-title" }}{{ .Site.Data.branding.site_name | default .Site.Title }}{{ end }}

{{ define "head-description" }}{{ .Site.Data.branding.description | printf "%.150s" }}{{ end }}

{{ define "head-social" }}

{{ end }}

{{ define "hero" }}
  <h1 class="hidden">Home</h1>
  {{ $featured := index (where (where (where .Site.Pages "Section" "article") "Params.featured" true) "Params.cover_image" "ne" nil) 0 }}

  {{ if $featured }}
    <div class="hero">
    {{ partial "hero-image" $featured }}
      <h2 class="hidden">Featured Article</h2>
      <div class="hero__inner">
        <article class="hero__insert card__inner">
          <header class="card__header card__region">
            <h3 class="card__title"><a href="{{ $featured.Permalink | absURL }}" class="link">{{ $featured.Title }}</a></h3>
            {{ partial "byline" $featured }}
            {{ partial "category-link" $featured }}
            <p class="card__teaser">
              {{ with $featured.Params.teaser }}
              {{ . }}
              {{ else }}
              {{ $featured.Summary }}
              {{ end }}
            </p>
          </header>
          <a href="{{ $featured.Permalink | absURL }}" class="card__link">
            <span class="hidden">Read More from {{ $featured.Title }}</span>
          </a>
        </article>
      </div>
    </div>

  {{ end }}

{{ end }}

{{ define "content" }}
    <section class="page__section">
      <h2 class="h3">In the Latest Issue</h2>
      <ul class="list">
        {{ range first 5 (where (where .Site.Pages "Section" "article") "Params.featured" false) }}
        <li class="card card--beta wid-12">
          <article class="card__inner ns-grid">
            {{ if .Params.cover_image }}
            <figure class="card__thumb">
              {{ partial "card-image" . }}
            </figure>
            {{ end }}
            <header class="card__region card__header ns-wid-7">
              <h3 class="card__title"><a class="link" href="{{ .Permalink | absURL }}">{{ .Title }}</a></h3>
              {{ partial "byline" . }}
              {{ partial "category-link" . }}
              {{ with .Params.teaser }}
                <p class="card__teaser">{{ . }}</p>
              {{ else }}
                <p class="card__teaser">{{ .Summary }}</p>
              {{ end }}
            </header>
            <a href="{{ .Permalink | absURL }}" class="card__link">
              <span class="hidden">Read more from {{ .Title }}</span>
            </a>
          </article>
        </li>
        {{ end }}
      </ul>
      <div class="paginator">
        <a href="{{ "/article/" | absURL }}" class="paginator__link paginator__link--more">
          <span class="paginator__sub">More</span>
          Articles
        </a>
      </div>
    </section>

    {{ $first_announce := index (where .Site.Pages "Section" "announcement") 0 }}
    {{ if $first_announce }}
    <section class="page__section section--bold">
      <h2 class="h3">From the Blog</h2>
      <div class="paginator">
        <a href="{{ "/announcement/" | absURL }}" class="paginator__link paginator__link--more">
          <span class="paginator__sub">More</span>
          Announcements
        </a>
      </div>
    </section>
    {{ end }}

{{ end }}
