.Article {
  font-family: $ff-sans;
  margin-bottom: $vsp-xl;
}

.Article-header {
  margin-bottom: $vsp-lg;
}

.Article-title {
  @include fs-0;
  @include accentBar($color: $c-brand);
  font-family: $ff-disp;
  color: $c-black;
}

.Article-caption {
  @include fs-small;
  color: $c-grey-60;
  margin-top: $vsp-xs;
  font-style: italic;
}

.Article-subtitle {
  @include fs-4;
  color: $c-grey-60;
}

.Article-subtitleLink {
  color: inherit;
  font-weight: 700;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    color: $c-brand--bright;
  }
}

.Article-body {
  margin-bottom: $vsp-lg;
}

.Article-comments {
  margin-top: $vsp-lg;

  &::before {
    content: '\00D7';
    display: block;
    text-align: center;
    color: $c-grey-20;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: $vsp-lg;
  }
}
