.article {
  margin-left: -$sp-md;
  margin-right: -$sp-md;

  @media #{$brkpt-sm} {
    margin: 0;
  }
}

.article__title {
  @extend %fs-0;
  font-family: $ff-disp;
  font-style: italic;
  color: $c-black;
  margin: $sp-md 0 $sp-sm;
  order: 3;
}
