.article {
  margin-left: -$hsp-md;
  margin-right: -$hsp-md;

  @media #{$brkpt-sm} {
    margin: 0;
  }
}

.article__title {
  @include fs-0;
  font-family: $ff-disp;
  font-style: italic;
  color: $c-black;
  margin: $vsp-md 0 $vsp-sm;
  order: 3;
}

.Article-header {
  margin-bottom: $vsp-lg;
}

.Article-title {
  @include fs-0;
  font-family: $ff-disp;
  color: $c-black;

  &::after {
    content: '';
    display: block;
    margin: $vsp-xs 0;
    border-top: 2px $c-brand solid;
    width: $vsp-md;
  }
}

.Article-subtitle {
  @include fs-3;
  font-family: $ff-sans;
  color: $c-grey-60;
}
