.badge {
  background-color: $c-brand-shade2;
  border-radius: 2px;
  font-family: $ff-sans;
  display: inline-block;
  padding: $vsp-xs $hsp-sm;
  margin-bottom: $vsp-sm;
  margin-right: $hsp-sm;

  &:hover {
    background-color: $c-brand;
  }
}

.badge__link {
  color: $c-brand-tint2;
  text-decoration: none;

  &:focus,
  &:active {
    text-decoration: underline;
  }
}
