.button {
  @include fs-ui;
  font-family: $ff-sans;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 0 1px 3px 1px $c-shad;
  padding: $vsp-md $hsp-lg;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  transition: 200ms background ease, 200ms box-shadow;
}

.button--info {
  color: $c-white;
  background: $c-brand;

  &:hover,
  &:focus {
    background: $c-brand-shade;
  }
}

.Button {
  @include fs-small;
  line-height: 1;
  display: inline-block;
  font-family: $ff-sans;
  font-weight: 700;
  border-radius: 2px;
  padding: $vsp-sm $hsp-md;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  text-align: center;
  text-decoration: none;
  transition: 175ms background-color, 175ms color;
}

.Button--cta {
  color: $c-black;
  background-color: $c-acc1;

  &:hover {
    background-color: $c-acc1-shade;
  }
}
