.footer {
  flex: none;
  background: $c-off-white;
  box-shadow: 0px 2px 4px 4px $c-shad-wk;
}

.footer__wrap {
  @include global-max-width;
  padding: $sp-inset-sm;

  @media #{$brkpt-md} {
    display: flex;
    flex-wrap: wrap;
    padding: $sp-inset-md;
  }
}

.footer__email {
  word-wrap: break-word;
}

.footer__section {
  line-height: 1.25;
  padding: $sp-inset-sm;
  flex: 0 1 auto;
  margin: 0 0 $sp-lg 0;

  @media #{$brkpt-md} {
    padding: $sp-inset-md;
    margin-bottom: 0;
  }
}

.footer__section--about {
  flex-grow: 1;
  margin-top: $sp-md;

  @media #{$brkpt-lg} {
    margin-top: 0;
  }
}

.footer__description {
  @extend %fs-5;
  margin: 0;
  font-family: $ff-serif;
  font-style: italic;
  color: $c-grey-60;
}

.footer__header {
  @extend %fs-3;
  font-family: $ff-disp;
  font-style: italic;
  margin: 0 0 $sp-sm 0;
  color: $c-black;
}

.footer__social {
  margin-top: $sp-sm;
}

.footer__nav-item {
  display: inline-block;
  margin: 0 $sp-md $sp-sm 0;
}

.footer__copyright {
  @extend %fs-ui;
  color: $c-grey-60;
  font-family: $ff-serif;
  font-style: italic;
}

.footer__back-to-top {
  display: block;
  text-align: center;

  @media #{$brkpt-md} {
    text-align: right;
  }
}

.footer__copyright,
.footer__back-to-top {
  @media #{$brkpt-md} {
    margin-top: $sp-lg;
  }
}
