.form {
  @extend %fs-ui;
  color: $c-grey-75;
  font-family: $ff-sans;
  overflow: hidden;

  button:disabled,
  input:disabled {
    cursor: not-allowed;
  }
}

.form__group,
.form__list-item {
  display: flex;
  align-items: center;
  margin: 0;
}

.form__group--list {
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
}

.form__label {
  flex: 0 auto;
  margin-bottom: $vsp-sm;
}

.form__fieldset {
  align-items: center;
  padding: $vsp-md $hsp-md;
  flex-wrap: nowrap;
}

.form__legend {
  @extend %fs-small;
  padding-top: $vsp-md;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  margin-bottom: -$vsp-sm;
}

.form__list-item {
  &:not(:last-child) {
    margin-right: $hsp-md;
  }
}

.form__checkbox {
  appearance: none;
  border-radius: 2px;
  border: 2px $c-brand-tint solid;
  height: $vsp-sm;
  width: $vsp-sm;
  margin-right: $hsp-sm;

  &:checked {
    background: $c-brand-shade2 url('/design/check.svg');
    background-size: contain;
    border-color: $c-brand-shade2;
  }

  &:focus,
  &:active {
    outline: none;
    border-color: $c-acc1-shade;
  }

  &:disabled {
    background: $c-grey-10 url('/design/check-disabled.svg');
    border-color: $c-grey-10;
  }

}
