.h2 {
  @include fs-2;
  @extend %h2;
}

.h3 {
  @include fs-3;
  @extend %h3;
}

.h4 {
  @include fs-4;
  @extend %h4;
}

.h6 {
  @include fs-6;
  @extend %h6;
}

.page__sidebar .h6 {
  color: $c-grey-60;
  font-weight: 400;
}

.description-block {
  @include fs-small;
  max-width: 28em;
  font-family: $ff-serif;
  margin: 0;
  font-style: italic;

  strong {
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 0.07em;
  }
}

.page__section-heading {
  @include fs-4;
  color: $c-grey-75;
  font-family: $ff-sans;
  margin-bottom: $vsp-md;

  &::before {
    content: '';
    display: block;
    margin-bottom: $vsp-xs;
    width: $hsp-xl;
    border-bottom: 4px $c-brand-tint solid;
  }
}
