.header {
  background: $c-off-white;
}

.header__wrap,
.header__categories {
  @include global-max-width;
  padding: $sp-gutters-sm;

  @media #{$brkpt-md} {
    padding: $sp-gutters-md;
  }
}

.header__wrap {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

.header__title {
  flex: 1 auto;
  margin: 0;
}

.header__logo-link,
.header__logo-link:visited,
.header__logo-link:hover,
.header__logo-link:active {
  text-decoration: none;
  color: $c-black;
}

.header__logo {
  border-bottom: 1px $c-grey-10 solid;
  display: block;
  width: 100%;
  padding: $sp-md 0;

  @media #{$brkpt-md} {
    padding: $sp-lg 0;
  }
}

.header__nav {
  z-index: 3;
  flex: 1 auto;
  position: relative;

  @media #{$brkpt-md} {
    display: block;
    padding: $sp-md 0;
  }
}

.header__toggle {
  cursor: pointer;
  flex: 0 auto;
  background: $c-grey-75;
  background-clip: content-box;
  border-top: 2px $c-grey-75 solid;
  border-bottom: 2px $c-grey-75 solid;
  height: 16px;
  order: 4;
  padding: 5px 0;
  position: relative;
  margin: $sp-md 0;
  width: 24px;

  @media #{$brkpt-md} {
    display: none;
  }

  a {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
  }
}

.header__nav-list {
  height: 100%;
  align-items: center;
  display: none;
  justify-content: flex-end;

  &.active {

  }

  @media #{$brkpt-md} {
    display: flex;
  }
}

.header__nav-item {
  color: $c-grey-75;
  padding-left: $sp-lg;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  font-family: $ff-sans;
  font-size: 0.875rem;
  line-height: 1;
  font-weight: bold;
}

.header__nav-link {
  border-bottom: 2px $c-brand-tint2 solid;
  color: inherit;
  position: relative;
  text-decoration: none;
  transition: 0.45s border-color ease;

  &:hover {
    border-color: $c-brand;
  }
}
