.header {
  background: $c-off-white;
}

.header__wrap {
  @include global-max-width;
  display: flex;
  flex-flow: wrap;
  padding: $sp-gutters-sm;

  @media #{$brkpt-md} {
    padding: $sp-gutters-md;
  }
}

.header__title {
  flex: 1 auto;
  margin: 0;
}

.header__logo-link,
.header__logo-link:visited,
.header__logo-link:hover,
.header__logo-link:active {
  text-decoration: none;
  color: $c-black;
}

.header__logo {
  border-bottom: 1px $c-grey-10 solid;
  display: block;
  width: 100%;
  padding: $sp-md 0;

  @media #{$brkpt-md} {
    padding: $sp-lg 0;
  }
}

.header .list--social,
.header__nav {
  padding: $sp-sm 0;

  @media #{$brkpt-md} {
    padding: $sp-md 0;
  }
}

.header__nav {
  flex: 1 auto;
}

.header__nav-toggle {
  &::before {
    background: $c-grey-75;
    content: "";

  }
}

.header__nav-list {
  display: none;

  @media #{$brkpt-md} {
    display: flex;
    justify-content: flex-end;
  }
}
