.header {
  @extend %fs-base;
  background: $c-off-white;
  box-shadow: 0px 0px 4px 4px $c-shad-wk;
  flex: none;
  z-index: 4;
}

.header__wrap {
  @include global-max-width;
  padding: $sp-gutters-md;

  @media #{$brkpt-md} {
    padding: $sp-gutters-lg;
  }
}

.header__wrap {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

.header__title {
  @extend %fs-0;
  border-bottom: 1px $c-grey-10 solid;
  flex: 1 auto;
}

.header__logo-link,
.header__logo-link:visited {
  display: block;
  margin: 0 auto;
  color: $c-black;
}

.header__nav {
  z-index: 3;
  flex: 1 auto;
  position: absolute;
  overflow-y: hidden;
  top: 100%;
  left: 0;
  right: 0;
  align-self: flex-end;
  width: 100%;

  @media #{$brkpt-md} {
    width: auto;
    padding: $sp-md 0;
    position: static;
  }
}

.header__toggle {
  cursor: pointer;
  flex: 0 auto;
  background: $c-grey-75;
  background-clip: content-box;
  height: 16px;
  order: 4;
  padding: 7px 0;
  position: relative;
  margin: $sp-md 0;
  width: 24px;

  &::before,
  &::after {
    background: $c-grey-75;
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    transition: 300ms transform ease, 100ms background ease-out;
  }

  &::before {
    transform: translateY(-7px);
  }

  &::after {
    transform: translateY(7px);
  }

  &.open {
    background: rgba(0,0,0,0);

    &::before {
      transform: translateY(0) rotate(45deg);
    }

    &::after {
      transform: translateY(0) rotate(-45deg);
    }
  }

  @media #{$brkpt-md} {
    display: none;
  }

  a {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
  }
}

.header__nav-list {
  height: 100%;
  align-items: center;
  justify-content: flex-end;

  @media #{$brkpt-under-md} {
    border-color: rgba(255, 255, 255, 0);
    border-style: solid;
    border-width: 1px 0;
    transform: translateY(-100%);
    padding: $sp-stretch-lg;
    text-align: right;
    background: $c-off-white;
    transition: 300ms transform ease, 230ms border-color ease 300ms;

    &.open {
      border-color: $c-grey-10;
      transform: translateY(0);
    }
  }

  @media #{$brkpt-md} {
    display: flex;
  }
}

.header__nav-item {
  padding-left: $sp-lg;
  line-height: 1;

  @media #{$brkpt-under-md} {
    font-size: 1.125rem;
    margin-bottom: $sp-md;

    &:last-child {
      margin: 0;
    }
  }
}
