.Hero {
  margin-bottom: $vsp-xl;
}

.Hero--bold {
  background-color: $c-acc1;
}

.Hero-inner {
  @include global-max-width;
  @include mock-grid-gutters;
  position: relative;
}

.Article-cover {
  @include aspect-ratio(24,9);
  background-color: $c-grey-5;
  max-height: 800px;
}

.Article-cover--tall {
  @include change-aspect-ratio(20,9);
}

.Article-coverImage {
  width: 100%;

  @supports(object-fit: cover) {
    height: 100%;
    object-fit: cover;
  }
}
