.icon--facebook {
  color: rgb(59,89,152);
}

.icon--twitter {
  color: rgb(29, 161, 242);
}

.Icon {
  padding: $hsp-xs;

  svg {
    fill: currentColor;
    height: $hsp-sm;
    width: $hsp-sm;
    display: block;
  }
}
