.LeadStory {
  @include global-max-width;
  @include grid-container;
  margin-top: $vsp-sm;
  color: $c-grey-60;
  font-size: 1rem;
  line-height: 1.35;

  @media #{$brkpt-lg} {
    margin-top: $vsp-xl;
  }
}

.LeadStory-cover,
.LeadStory-info {
  @include grid-column(12);

  @media #{$brkpt-md} {
    @include grid-column(6);
  }
}

.LeadStory-cover {
  @include aspect-ratio(16,9);
  margin-bottom: $vsp-xs;

  @media #{$brkpt-md} {
    margin-bottom: 0;
  }

  @media #{$brkpt-lg} {
    @include grid-column(8, $neat-wide-grid);
  }

  .Link--cover {
    background-color: $c-white;
    opacity: 0;
    transition: 175ms opacity;
  }

  .Link--cover:hover,
  .Link--cover:focus,
  .Link--cover:active {
    opacity: 0.35;
  }
}

.LeadStory-image {
  width: 100%;
  display: block;
}

.LeadStory-info {
  border-top: $hsp-xs $c-acc1 solid;
  padding: $vsp-md 0;

  @media #{$brkpt-lg} {
    @include grid-column(4, $neat-wide-grid);
  }
}
