.LeadStory {
  @include global-max-width;
  position: relative;
  background-size: cover;
  color: $c-white;
}

.LeadStory-info {
  @include mock-grid-gutters(padding);
  background: linear-gradient(180deg, transparent, transparentize($c-black, 0.3) 256px, transparentize($c-black, 0.1));
  padding-top: 256px;
  padding-bottom: $hsp-md;

  @media #{$brkpt-md} {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
  }
}

.LeadStory-titleBlock {
  flex: 0 1 auto;
}

.LeadStory-copy {
  @include fs-4;
  flex: 1 50%;
  max-width: 26em;
  opacity: 0.8;
  padding-top: $vsp-xs;

  @media #{$brkpt-md} {
    padding-left: $hsp-md;
    padding-bottom: 0.15rem;
  }
}

.LeadStory-title {
  @include fs-0;
  font-family: $ff-disp;
  font-weight: 700;
  margin-top: $hsp-xs;
}

.LeadStory-metadata {
  @include fs-small;
  display: inline-block;
  color: $c-acc1;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.05em;
  border-bottom: 2px currentColor solid;
  padding-bottom: $vsp-xxs / 2;
  margin-bottom: $vsp-xxs;
}
