.LeadStory {
  @include global-max-width;
  background-color: $c-white;
  width: 100%;
  color: $c-grey-60;

  @media #{$brkpt-md} {
    display: table;
  }

  .Title {
    @include fs-0;
    color: $c-black;
  }

  .Subtitle {
    @include fs-3;
  }

  .Copy {
    @include fs-body;
    margin-top: $vsp-md;
  }
}

.LeadStory-imageContainer,
.LeadStory-info {
  @media #{$brkpt-md} {
    display: table-cell;
    vertical-align: top;
    width: 50%
  }
}

.LeadStory-imageContainer {
  @media #{$brkpt-lg} {
    width: 66.67%;
  }
}

.LeadStory-image {
  width: 100%;
  display: block;
}

.LeadStory-info {
  @include mock-grid-gutters;
  border-top: 32px $c-acc1 solid;
  padding-top: $vsp-md;
  padding-bottom: $vsp-md;

  @media #{$brkpt-lg} {
    width: 33.33%;
  }
}
