.LeadDeck {
  padding: $vsp-lg 0;
}

.LeadDeck-inner {
  @include global-max-width;
  @include grid-container;
}

.LeadDeck-story {
  border-radius: 2px;
  margin-bottom: $vsp-md;

  .Summary-thumbnail {
    height: 160px;
    @media #{$brkpt-lg} {
      height: 128px;
    }
  }
}
