.link {
  transition: 180ms color ease;
}

.card__title .link {
  color: inherit;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    color: $c-brand;
  }

  &:focus,
  &:active {
    text-decoration: underline;
  }
}

.link--body {
  @extend %a;
}

.link--muted {
  color: $c-grey-60;

  &:focus,
  &:hover,
  &:active {
    color: $c-black;
  }
}

.link--ui-alpha,
.link--ui-beta,
.link--ui-light,
.link--banner {
  @extend %fs-ui;
  text-decoration: none;
  font-family: $ff-sans;
}

.link--ui-alpha {
  font-weight: bold;
  color: $c-grey-75;
  text-transform: uppercase;
  letter-spacing: 0.07em;

  &:focus,
  &:hover,
  &:active {
    color: $c-brand;
  }

  &:focus,
  &:active {
    text-decoration: underline;
  }
}

.link--ui-beta {
  color: $c-grey-60;

  &:focus,
  &:hover,
  &:active {
    color: $c-black;
    text-decoration: underline;
  }
}

.link--ui-light {
  color: $c-off-white;

  &:focus,
  &:hover,
  &:active {
    color: $c-acc1;
    text-decoration: underline;
  }
}

.link--badge {
  background-color: $c-brand-shade2;
  border-radius: 2px;
  color: $c-brand-tint2;
  font-family: $ff-sans;
  display: inline-block;
  padding: $sp-xs $sp-sm;
  margin-bottom: $sp-sm;
  margin-right: $sp-sm;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    background-color: $c-brand;
  }
}

.link--highlight {
  text-decoration: none;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    height: 30%;
    top: 35%;
    right: 0;
    width: 100%;
    transition: 175ms background ease-in;
    z-index: 1;
  }

  &:focus::before,
  &:hover::before {
    background: $c-acc1;
  }

  &:active::before {
    background: $c-acc1-shade;
  }
}
