.logo {
  display: block;
  color: $c-black;
  font-family: $ff-disp;
  font-weight: 700;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  text-decoration: none;
  user-select: none;
}

.logo--header {
  @include fs-4;

  &:hover {
    background-color: $c-acc1-tint;
  }
}

.logo--sidebar {
  display: block;
  margin-bottom: $vsp-md;
  width: 64px;
  flex: 1 0 auto;

  @media #{$brkpt-md} {
    width: 80px;
  }

  @media #{$brkpt-md-only} {
    margin-bottom: 0;
    margin-right: $hsp-md;
  }
}

.logo__img {
  display: block;
  flex: 0 auto;
}

.logo--header .logo__img {
  height: $hsp-xl;
  width: $hsp-xl;
}
