.logo {
  display: block;
  color: $c-black;
  font-family: $ff-disp;
  font-weight: 400;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  text-decoration: none;
  user-select: none;
}

.logo--header {
  @extend %fs-0;
  border-bottom: 1px $c-grey-10 solid;
  margin: 0 auto;
}

.logo--footer {
  @extend %fs-1;
  margin-bottom: $sp-sm;
  padding-top: $sp-lg;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 104px;
    border-bottom: $sp-sm $c-acc1 solid;
    top: 0;
    left: 0;
  }
}

.logo--sidebar {
  display: block;
  margin-bottom: $vsp-md;
  width: 64px;
  flex: 1 0 auto;

  @media #{$brkpt-md} {
    width: 80px;
  }

  @media #{$brkpt-md-only} {
    margin-bottom: 0;
    margin-right: $hsp-md;
  }
}

.logo--md {
  max-width: 360px;

  @media #{$brkpt-sm} {
    max-width: 480px;
  }
}

.logo__img {
  display: block;
  width: 100%;
}

.logo--header .logo__img {
  height: $vsp-xl;
  width: $vsp-xl;
}
