.header__nav-shadow {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 90;
  background: transparentize($c-black, 0.5);
  top: 0;
  left: 0;
  transition: 200ms opacity ease;
}

.header__nav {
  display: flex;
  text-align: right;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  background: $c-white;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  max-width: 260px;
  z-index: 100;
  transform: translateX(100%);
  transition: 300ms transform cubic-bezier(0.110, 0.005, 0.420, 0.995);

  &.open {
    transform: translateX(0);

    & + .header__nav-shadow {
      display: block;
      visibility: visible;
      opacity: 1;

      @media #{$brkpt-md} {
        display: none;
      }
    }
  }

  &:focus {
    outline: none;
  }

  @media #{$brkpt-md} {
    flex-direction: row;
    flex: 0 auto;
    align-items: center;
    align-self: stretch;
    justify-content: flex-end;
    position: static;
    transform: none;
    max-width: 100%;
    min-height: 64px;
  }
}

.header__toggle {
  display: block;
  background: $c-grey-75;
  background-clip: content-box;
  height: 16px;
  padding: 7px 0;
  position: relative;
  margin: $vsp-md 0;
  width: 24px;

  &::before,
  &::after {
    background: $c-grey-75;
    content: '';
    position: absolute;
    right: 0;
    height: 2px;
    width: 100%;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  @media #{$brkpt-md} {
    display: none;
    visibility: hidden;
  }
}

.header__nav-list {
  margin-top: $vsp-lg;
  align-self: stretch;
  @media #{$brkpt-md} {
    margin: 0;
    display: flex;
  }
}

.header__nav-item {
  display: flex;
  user-select: none;
  @media #{$brkpt-md} {
    line-height: 1;
  }
}

.nav__link {
  @extend %fs-small;
  color: $c-black;
  flex: 1 auto;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: $vsp-sm $hsp-md;

  &:hover,
  &:active,
  &:focus {
    background-color: $c-acc1-tint;
  }
}

.header__nav {
  .list--social {
    justify-content: flex-end;
    padding: $vsp-sm $hsp-md;
    margin-bottom: $vsp-md;

    @media #{$brkpt-md} {
      padding-right: 0;
      margin: 0;
    }
  }

  .list__item--social:last-child {
    margin-right: 0;
  }
}
