.NavBar {
  text-align: right;
}

.NavBar-list {
  font-size: 0;
}

.NavBar-item {
  @include fs-summary;
  display: inline-block;
  vertical-align: middle;
}

.NavBar-link {
  color: inherit;
  text-decoration: none;
  transition: 225ms color, 225ms background-color;
}

.NavBar--main {
  display: none;

  @media #{$brkpt-sm} {
    display: block;
  }

  .NavBar-item {
    font-weight: 700;
    padding: $hsp-xxs $hsp-sm $hsp-xs;

    &:last-child {
      padding-right: 0;
    }

    &:nth-child(n + 3) {
      display: none;

      @media #{$brkpt-md} {
        display: inline-block;
      }
    }
  }

  .NavBar-link {

    &::before {
      content: '\2015\00A0';
    }

    &:hover,
    &:focus,
    &:active {
      color: $c-acc1;
    }
  }
}

.NavBar--secondary {
  display: none;
  transition: 250ms transform, 150ms opacity;


  @media #{$brkpt-sm} {
    display: block;
  }

  .NavBar-item {
    border-radius: 2px;
    overflow: hidden;
    &:nth-child(n + 4) {
      display: none;
    }

    &:nth-child(-n + 5) {
      @media #{$brkpt-md} {
        display: inline-block;
      }
    }

    &:nth-child(-n + 6) {
      @media #{$brkpt-lg} {
        display: inline-block;
      }
    }

    @media #{$brkpt-xl} {
      display: inline-block !important;
    }
  }

  .NavBar-link {
    @include fs-small;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.02em;
    padding: $hsp-sm;
    text-transform: uppercase;
    &:hover,
    &:focus,
    &:active {
      background-color: $c-grey-5;
    }
  }
}

.Drawer {
  visibility: hidden;
  position: absolute;
  background-color: transparentize($c-white, 0.06);
  box-shadow: 0px 0px 4px 0px rgba(8,8,11,0.35);
  width: 100%;
  top: 100%;
  transform: translateY(-100%);
  opacity: 0;
  transition: visibility 0s linear 250ms, 300ms transform cubic-bezier(0.445, 0.050, 0.550, 0.950), 250ms opacity 200ms;
  z-index: 5;
}

#drawerCloser {
  display: none;
}

#header:target {
  .Drawer {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    transition-delay: 0;
  }

  .NavBar--secondary {
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
    transition: 0s visibility 150ms, 250ms transform, 150ms opacity;
  }

  #drawerOpener {
    display: none;
  }

  #drawerCloser {
    display: table-cell;
  }
}

.Drawer-content {
  @include global-max-width;
  @include grid-container;
  width: 100%;
  padding-bottom: $vsp-lg;
}

.Drawer-section {
  @include grid-column(12);
  margin-bottom: $vsp-md;
}

.Drawer-section--taxonomies {
  @media #{$brkpt-sm} {
    @include grid-column(8);
  }

  @media #{$brkpt-lg} {
    @include grid-column(6, $neat-wide-grid);
    @include grid-push(-9, $neat-wide-grid);
  }
}

.Drawer-section--pages {
  @media #{$brkpt-sm} {
    @include grid-column(4);
  }

  @media #{$brkpt-md} {
    @include grid-column(12);
  }

  @media #{$brkpt-lg} {
    @include grid-column(3, $neat-wide-grid);
    @include grid-push(9, $neat-wide-grid);
  }
}

.Drawer-section--blog {
  display: none;

  @media #{$brkpt-md} {
    display: block;
    @include grid-column(4);
  }

  @media #{$brkpt-lg} {
    @include grid-column(3, $neat-wide-grid);
    @include grid-push(-12, $neat-wide-grid);
  }
}

.Drawer-sectionHeading {
  @include fs-5;
  font-style: italic;
  color: $c-grey-60;
  border-top: 1px $c-grey-20 solid;
  padding-top: $vsp-xxs;
  margin-bottom: $vsp-xs;
}

.Drawer-list {
  font-size: 0;
}

.Drawer-listLink {
  color: inherit;
  text-decoration: none;
  transition: 175ms color;
}

.Drawer-section--taxonomies {
  .Drawer-list {
    margin-bottom: $vsp-md;
  }

  .Drawer-listItem {
    padding-bottom: $vsp-xxs;
    color: $c-black;
    display: inline-block;
    padding-right: $hsp-sm;
    vertical-align: top;
  }

  .Drawer-listLink {
    &:hover,
    &:focus,
    &:active {
      color: $c-brand--bright;
    }

    &::before {
      color: $c-brand--bright;
    }
  }
}

.Drawer-section--pages {
  color: $c-grey-75;
  .Drawer-listItem {
    @include fs-small;
    display: inline-block;
    margin-bottom: $vsp-xs;
    margin-right: $vsp-sm;
  }

  .Drawer-listLink {
    &::after {
      content: '\203A';
      font-weight: 700;
    }

    &:hover,
    &:focus,
    &:active {
      color: $c-brand--bright;
    }
  }
}

.Drawer-listLink--category {
  @include fs-ui;
  &::before {
    content: "\000A7\00A0";
  }
}

.Drawer-listLink--tag {
  @include fs-small;
  &::before {
    content: "#\00A0";
  }
}
