.paginator {
  display: block;
}

.paginator__link {
  @include fs-2;
  @include text-stack;
  flex: 0 1 auto;
  color: $c-grey-60;
  border-top: 1px $c-grey-20 solid;
  margin-top: $vsp-md;
  padding-top: $vsp-md;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    color: $c-brand;
  }
}

.paginator__link--back {
  text-align: right;
  margin-right: auto;

  .sub::before {
    content: '\2190\00A0';
  }
}

.paginator__link--more {
  margin-left: auto;

  .sub::after {
    content: '\00A0\2192';
  }
}
