.Page {
  background: $c-off-white;
}

.page__skip-to-content {
  @include fs-ui;
  position: absolute;
  background: $c-acc1;
  box-shadow: 0 2px 6px 3px $c-shad;
  color: $c-black;
  font-family: $ff-sans;
  font-weight: 700;
  letter-spacing: 0.07em;
  padding: $vsp-md $hsp-lg;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  transform: translateY(-110%);
  transition: 180ms transform ease;
  z-index: 10;

  &::after {
    content: ' \2192';
  }

  &:focus {
    transform: none;
    outline: none;
  }
}

.Page-wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}

.Page-content {
  width: 100%;
  // padding-top: 4rem;
  //
  // @media #{$brkpt-md} {
  //   padding-top: 8rem;
  // }
}
