.page {
  background: $c-grey-5;
}

.page__wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}

.page__content {
  @include global-max-width;
  flex: 1 0 auto;
  width: 100%;
}

.page__content,
.page__main,
.page__sidebar {
  padding: $sp-gutters-sm;

  @media #{$brkpt-sm} {
    padding: $sp-gutters-md;
  }
}
