.page {
  background: $c-grey-5;
}

.page__content {
  @include global-max-width;
}

.page__content,
.page__main,
.page__sidebar {
  padding: $sp-gutters-sm;

  @media #{$brkpt-sm} {
    padding: $sp-gutters-md;
  }
}
