.Sidebar-block {
  @include grid-container;
  @include fs-small;
  font-family: $ff-sans;
  margin-bottom: $vsp-md;
}

.Sidebar-block--inset {
  padding: $vsp-xs $hsp-xs;

  > * {
    padding: $vsp-xs $hsp-xs;
  }
}

.Sidebar-heading {
  font-weight: 700;
  letter-spacing: -0.02em;
}

.Sidebar-body {
  padding: $vsp-xs $hsp-xs;
}

.Sidebar-cta {
  color: inherit;
  background-color: $c-grey-5;
  display: block;
  font-weight: 700;
  text-align: right;
  text-decoration: none;
  margin: $vsp-sm (-$hsp-sm) (-$vsp-sm);
  padding: $vsp-sm $hsp-sm;
  transition: 200ms background-color ease;

  &:hover,
  &:focus,
  &:active {
    background-color: $c-grey-10;
  }
}

.Sidebar-block--info {
  background: $c-white;
  border-radius: 2px;
  border: 1px $c-grey-10 solid;
  box-shadow: 0px 1px 3px $c-shad-wk;
}
