.summary__title,
.summary__subtitle,
.summary__meta,
.summary__body {
  margin: 0;
  padding: 0;
}

.summary__title,
.summary__subtitle,
.summary__meta {
  .link {
    text-decoration: none;
    color: inherit;
  }
}

.summary__title {
  @extend %fs-2;
  font-family: $ff-disp;
  margin-bottom: $vsp-xxs;
  color: $c-black;

  .link {
    &:hover,
    &:focus,
    &:active {
      color: $c-brand;
    }
  }
}

.summary__subtitle {
  @extend %fs-ui;
  font-family: $ff-sans;
  font-weight: 400;
  color: $c-grey-60;

  .link {
    font-weight: 600;

    &:hover,
    &:focus,
    &:active {
      color: $c-brand;
      text-decoration: underline;
    }
  }
}

.summary__meta {
  @extend %fs-small;
  color: $c-grey-60;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: $vsp-xs;

  .link {
    border-bottom: 2px transparent solid;

    &:hover,
    &:focus,
    &:active {
      color: $c-black;
      border-color: $c-acc1;
    }
  }
}

.summary__body {
  @extend %fs-ui;
  color: $c-grey-75;
  font-family: $ff-serif;
  margin-top: $vsp-md;
  max-width: 38em;
  &:last-child {
    margin-bottom: $vsp-md;
  }
}

.summary--small {
  .summary__title {
    @extend %fs-6;
    margin-bottom: 0;
  }

  .summary__subtitle {
    @extend %fs-small;
  }

  .summary__body {
    @extend %fs-small;
    font-style: italic;
    margin-top: $vsp-xs;
  }
}
