@mixin width($base, $from-sm: false, $from-md: false, $from-lg: false) {
  width: percentage($base / 12);

  @if $from-sm {
    @media #{$brkpt-sm} {
      width: percentage($from-sm / 12);
    }
  }

  @if $from-md {
    @media #{$brkpt-md} {
      width: percentage($from-md / 12);
    }
  }

  @if $from-lg {
    @media #{$brkpt-lg} {
      width: percentage($from-lg / 12);
    }
  }
}

.card--beta .card__thumb {
  @include width(12, $from-sm: 5);
}
