.grid {
  display: flex;

  &--vert {
    flex-direction: column;
  }
}

.grid__block {
  flex: auto;
}

.wid-1 {
  width: percentage(1 / 12);
}

.wid-2 {
  width: percentage(2 / 12);
}

.wid-3 {
  width: percentage(3 / 12);
}

.wid-4 {
  width: percentage(4 / 12);
}

.wid-5 {
  width: percentage(5 / 12);
}

.wid-6 {
  width: percentage(6 / 12);
}

.wid-7 {
  width: percentage(7 / 12);
}

.wid-8 {
  width: percentage(8 / 12);
}

.wid-9 {
  width: percentage(9 / 12);
}

.wid-10 {
  width: percentage(10 / 12);
}

.wid-11 {
  width: percentage(11 / 12);
}

.wid-12 {
  width: percentage(12 / 12);
}

.wid-one-fifth {
  width: 20%;
}

.wid-two-fifth {
  width: 40%;
}

.wid-three-fifth {
  width: 60%;
}

.wid-four-fifth {
  width: 80%;
}

@media #{$brkpt-sm} {
  .ns {
    &-grid {
      display: flex;

      &--vert {
        flex-direction: column;
      }
    }

    &-grid__block {
      flex: auto;
    }

    &-wid-1 {
      width: percentage(1 / 12);
    }

    &-wid-2 {
      width: percentage(2 / 12);
    }

    &-wid-3 {
      width: percentage(3 / 12);
    }

    &-wid-4 {
      width: percentage(4 / 12);
    }

    &-wid-5 {
      width: percentage(5 / 12);
    }

    &-wid-6 {
      width: percentage(6 / 12);
    }

    &-wid-7 {
      width: percentage(7 / 12);
    }

    &-wid-8 {
      width: percentage(8 / 12);
    }

    &-wid-9 {
      width: percentage(9 / 12);
    }

    &-wid-10 {
      width: percentage(10 / 12);
    }

    &-wid-11 {
      width: percentage(11 / 12);
    }

    &-wid-12 {
      width: percentage(12 / 12);
    }

    &-wid-one-fifth {
      width: 20%;
    }

    &-wid-two-fifth {
      width: 40%;
    }

    &-wid-three-fifth {
      width: 60%;
    }

    &-wid-four-fifth {
      width: 80%;
    }
  }
}

@media #{$brkpt-md} {
  .md {
    &-grid {
      display: flex;

      &--vert {
        flex-direction: column;
      }
    }

    &-grid__block {
      flex: auto;
    }

    &-wid-1 {
      width: percentage(1 / 12);
    }

    &-wid-2 {
      width: percentage(2 / 12);
    }

    &-wid-3 {
      width: percentage(3 / 12);
    }

    &-wid-4 {
      width: percentage(4 / 12);
    }

    &-wid-5 {
      width: percentage(5 / 12);
    }

    &-wid-6 {
      width: percentage(6 / 12);
    }

    &-wid-7 {
      width: percentage(7 / 12);
    }

    &-wid-8 {
      width: percentage(8 / 12);
    }

    &-wid-9 {
      width: percentage(9 / 12);
    }

    &-wid-10 {
      width: percentage(10 / 12);
    }

    &-wid-11 {
      width: percentage(11 / 12);
    }

    &-wid-12 {
      width: percentage(12 / 12);
    }

    &-wid-one-fifth {
      width: 20%;
    }

    &-wid-two-fifth {
      width: 40%;
    }

    &-wid-three-fifth {
      width: 60%;
    }

    &-wid-four-fifth {
      width: 80%;
    }
  }
}

@media #{$brkpt-lg} {
  .lg {
    &-grid {
      display: flex;

      &--vert {
        flex-direction: column;
      }
    }

    &-grid__block {
      flex: auto;
    }

    &-wid-1 {
      width: percentage(1 / 12);
    }

    &-wid-2 {
      width: percentage(2 / 12);
    }

    &-wid-3 {
      width: percentage(3 / 12);
    }

    &-wid-4 {
      width: percentage(4 / 12);
    }

    &-wid-5 {
      width: percentage(5 / 12);
    }

    &-wid-6 {
      width: percentage(6 / 12);
    }

    &-wid-7 {
      width: percentage(7 / 12);
    }

    &-wid-8 {
      width: percentage(8 / 12);
    }

    &-wid-9 {
      width: percentage(9 / 12);
    }

    &-wid-10 {
      width: percentage(10 / 12);
    }

    &-wid-11 {
      width: percentage(11 / 12);
    }

    &-wid-12 {
      width: percentage(12 / 12);
    }

    &-wid-one-fifth {
      width: 20%;
    }

    &-wid-two-fifth {
      width: 40%;
    }

    &-wid-three-fifth {
      width: 60%;
    }

    &-wid-four-fifth {
      width: 80%;
    }
  }
}
