.footer {
  flex: none;
  background: $c-white;
  box-shadow: 0px 2px 4px 4px $c-shad-wk;
  padding: $hsp-md 0;
}

.footer__wrap {
  @include global-max-width;
}

.footer__email {
  word-wrap: break-word;
}

.footer__section {
  text-align: center;
  line-height: 1.25;
  padding: $vsp-xs 0;
  flex: 0 1 auto;
  margin: 0;
  margin-bottom: $vsp-md;

  @media #{$brkpt-md} {
    padding: $vsp-sm 0;
  }
}

.footer__nav-list {
  display: flex;
  flex-wrap: wrap;
  text-align: left;

  @media #{$brkpt-sm} {
    display: block;
    text-align: center;
  }
}

.footer__nav-item {
  border-top: 1px $c-grey-10 solid;
  display: block;
  flex: 1 0 50%;
  padding: $vsp-xs $hsp-sm;
  background-image: url('/design/Bullet 2@2x.png');
  background-repeat: no-repeat;
  background-size: 8px;
  background-position: center left;

  @media #{$brkpt-sm} {
    border: none;
    display: inline-block;
    padding: 0 $hsp-xs 0 $hsp-sm;
    margin-bottom: $vsp-xs;

    &:first-child {
      background-image: none;
    }
  }
}

.footer__copyright {
  @include fs-small;
  color: $c-grey-20;
  font-family: $ff-sans;
  margin-bottom: 0;
}

.footer__back-to-top {
  & .link::after {
    content: ' \2191';
  }
}
