.header {
  @include fs-body;
  background: $c-white;
  box-shadow: 0px 0px 4px 4px $c-shad-wk;
  flex: none;
  z-index: 4;
  width: 100%;
}


.header__wrap {
  @include global-max-width;
  padding: 0 $hsp-sm;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media #{$brkpt-md} {
    padding: 0 $hsp-md;
  }
}
