.Header {
  position: relative;
  width: 100%;
  box-shadow: 0px 0px 4px 0px rgba(8,8,11,0.35);
  font-family: $ff-sans;
}

.Header-masthead,
.Header-subhead {
  position: relative;
  z-index: 10;
}

.Header-mastheadInner,
.Header-subheadInner {
  @include global-max-width;
  width: 100%;
  display: table;
}

.Header-masthead {
  color: $c-white;
  background-color: $c-black;
}

.Header-mastheadInner {
  padding: $hsp-xs $hsp-sm;

  @media #{$brkpt-sm} {
    padding: $hsp-sm;
  }

  @media #{$brkpt-lg} {
    padding: $hsp-md $hsp-lg;
  }
}

.Header-block {
  display: table-cell;
  vertical-align: middle;
  line-height: 0;
}

.Header-block--logo {
  text-align: center;

  @media #{$brkpt-sm} {
    text-align: left;
  }
}

.Header-logoLink {
  display: inline-block;
  position: relative;
  text-decoration: none;

  &::after {
    content: '';
    position: absolute;
    bottom: -2px;
    right: 1%;
    width: 97%;
    border-top: 2px transparent solid;
    transition: 225ms border-color;
  }

  &:hover,
  &:focus,
  &:active {
    &::after {
      border-color: $c-acc1;
    }
  }
}

.Header-logo {
  max-height: 32px;
  max-width: 100%;
}

.Header-subhead {
  color: $c-grey-75;
  background-color: $c-white;
}

.Header-subheadInner {
  @include grid-container;
  padding: $hsp-xs $hsp-sm;

  @media #{$brkpt-lg} {
    padding: $hsp-xs $hsp-lg;
  }
}

.Header-subheadBlock {
  height: 32px;
  float: left;

  &:last-child {
    float: right;
  }
}

.Header-subheadBlock--nav {
  width: calc(100% - 64px);
}

.Header-subheadBlock--icon {
  display: block;
  width: 32px;
  border-radius: 2px;
  color: inherit;
  text-decoration: none;
  transition: 225ms background-color;

  &:hover {
    background-color: $c-grey-5;
  }
}
