.hero {
  position: relative;
  min-height: 220px;
}

.hero__image {
  box-shadow: inset 0px -2px 8px -2px $c-shad;
  height: 240px;
  height: 32vw;
  background-size: cover;
  background-position: center;
  min-height: 220px;

  @media #{$brkpt-md} {
    height: 560px;
    height: 40vw;
    max-height: 560px;
  }
}

.hero__inner {
  @include global-max-width;
}

.hero__insert {
  @extend %fs-ui;
  background-color: $c-white;
  border-top: 8px $c-acc1 solid;
  width: 100%;

  @media #{$brkpt-md} {
    padding: $sp-md;
  }

  @media #{$brkpt-lg} {
    max-width: 40rem;
    position: absolute;
    bottom: 0;
  }
}

.hero__caption {
  padding: $sp-md $sp-md 0;
  font-family: $ff-serif;
  font-style: italic;
  color: $c-grey-60;
  margin: 0;

  @media #{$brkpt-md} {
    padding: $sp-md $sp-lg 0;
  }
}
