.hero {
  position: relative;
}

.hero--bold {
  background-color: $c-brand-shade;
}

.hero__image {
  box-shadow: inset 0px -2px 8px -2px $c-shad;
  height: 240px;
  height: 32vw;
  background-size: cover;
  background-position: center;
  min-height: 220px;

  @media #{$brkpt-md} {
    height: 560px;
    height: 40vw;
    max-height: 560px;
  }
}

.hero__inner {
  @include global-max-width;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  align-content: flex-end;
}

.hero__insert {
  background-color: $c-white;
  border-top: 8px $c-acc1 solid;
  margin: 0 (-$hsp-sm);

  @media #{$brkpt-md} {
    margin: 0 (-$hsp-md);
  }

  @media #{$brkpt-lg} {
    max-width: 40rem;
    position: absolute;
    bottom: 0;
  }
}

.hero__caption {
  @include fs-small;
  padding: $vsp-xs 0 $vsp-sm;
  font-family: $ff-serif;
  font-style: italic;
  color: $c-grey-60;
  margin: 0;

  @media #{$brkpt-sm} {
    padding: $vsp-xs $hsp-md 0;
  }

  @media #{$brkpt-md} {
    padding: $vsp-xs $hsp-lg 0;
  }
}

.hero__title {
  @include fs-0;
  @include text-stack;
  color: $c-acc1-tint;
  line-height: 1;
  padding: $vsp-xl 0 $vsp-md;
  flex: 1 64px;

  .sub {
    display: flex;
    align-items: center;

    &::after {
      content: '';
      margin-left: $hsp-xxs;
      height: 1px;
      border-radius: 1px;
      background-color: $c-brand-tint;
      flex: 1 auto;
    }
  }

  .link {
    float: right;
  }
}

.hero__thumb {
  width: 64px;
  flex: 0 auto;
  padding-top: $vsp-sm;
  margin: auto $hsp-md $vsp-md 0;

  img {
    width: 100%;
    height: auto;
    display: block;
    box-shadow: 0 2px 12px 6px $c-shad-wk;
  }
}

.hero__thumb--cover {
  width: 96px;
}

.hero__extra {
  width: 100%;
  flex: 1 0 auto;
  margin: 0 0 $vsp-md;

  .icon {
    display: inline-flex;

    > .icon {
      margin-right: $hsp-xs;
    }
  }
}

.hero__body {
  @include fs-small;
  margin: $vsp-sm 0 0;
  max-width: 36em;
  font-family: $ff-serif;
  font-style: italic;
  color: $c-brand-tint3;

  strong {
    font-weight: 700;
    font-style: normal;
  }

  & + .hero__body {
    margin-top: $vsp-xxs;
  }
}
