.page {
  background: $c-grey-5;
}

.page__skip-to-content {
  @extend %fs-ui;
  position: absolute;
  background: $c-acc1;
  box-shadow: 0 2px 6px 3px $c-shad;
  color: $c-black;
  font-family: $ff-sans;
  font-weight: 700;
  letter-spacing: 0.07em;
  padding: $sp-md $sp-lg;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  transform: translateY(-110%);
  transition: 180ms transform ease;
  z-index: 10;

  &::after {
    content: ' \2192';
  }

  &:focus {
    transform: none;
    outline: none;
  }
}

.page__wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}

.page__content {
  @include global-max-width;
  flex: 1 0 auto;
  width: 100%;
  margin: $sp-lg auto $sp-xl;
  @media #{$brkpt-md} {
    padding: 0 $sp-md;
  }
}

.hero + .page__content {
  margin-top: $sp-md;

  @media #{$brkpt-sm} {
    margin-top: $sp-lg
  }
}

.page__main {
  flex: 1 0 auto;
  padding: 0 $sp-md;
}

.page__sidebar {
  flex: 1 0 auto;
  flex-wrap: wrap;
  margin-top: $sp-xl;
  // padding: $sp-sm;


  @media #{$brkpt-lg} {
    padding: 0 $sp-md;
    margin-top: 0;
  }
}
