.search__field {
  appearance: none;
  font-family: inherit;
  flex: 1 auto;
  outline: none;
  border: none;
  padding: $hsp-sm $hsp-sm;

  &:disabled {
    background-color: $c-grey-10;
  }
}

.search__field--main {
  border-bottom: 1px $c-grey-10 solid;
}

.search__btn {
  appearance: none;
  display: flex;
  flex: 0 auto;
  align-items: center;
  align-self: stretch;
  justify-content: center;
  cursor: pointer;
  font-family: inherit;
  background: $c-brand-shade2;
  border: none;
  padding: 0 $hsp-sm;
  color: $c-brand-tint2;

  &:hover,
  &:focus,
  &:active {
    background: $c-brand;
  }

  &:disabled {
    background: $c-grey-10;
    color: $c-grey-60;
  }
}

.search__status,
.search__results {
  display: none;
}

.search__status {
  align-items: center;
  justify-content: center;
  width: 100%;
  align-self: stretch;
  margin: 0;
}

.search__status.show {
  display: flex;
}

.search__results.show {
  display: block;
}

.search__section {
  animation: fadeup 466ms ease-in;
}

@keyframes fadeup {
  0% {
    opacity: 0;
    transform: translateY(32px);
  }

  100% {
    opacity: 1;
    transform: 0;
  }
}
