.Search {
  padding-top: 4rem;

  @media #{$brkpt-lg} {
    padding-top: 8rem;
  }
}

.Search-form,
.Search-results {
  @include grid-container;
  margin-bottom: $vsp-lg;
}

.Search-field {
  @include grid-column(12);
  display: flex;
  border: 1px $c-grey-20 solid;
  border-radius: 2px;

  @media #{$brkpt-lg} {
    @include grid-column(12, $neat-wide-grid);
  }
}

.Search-input {
  @include fs-4;
  color: $c-grey-60;
  width: 100%;
  flex: 0 1 auto;
  border: 0;
  border-right: 1px $c-grey-20 solid;
  padding: $vsp-sm $hsp-sm;
  background-color: transparent;
}

.Search-btn {
  flex: 0 auto;
  color: $c-white;
  background-color: $c-black;
  cursor: pointer;
  padding: 0 $hsp-xs;
  border: 0;
  vertical-align: middle;

  &:hover,
  &:focus,
  &:active {
    background-color: $c-grey-75;
  }
}

.Search-info,
.Search-resultsList {
  @include grid-column(12);
}

.Search-info {
  @media #{$brkpt-lg} {
    @include grid-column(3, $neat-wide-grid);
  }
}

.Search-resultsList {
  @media #{$brkpt-lg} {
    @include grid-column(9, $neat-wide-grid);
  }
}

.Search-alert {
  margin-bottom: $vsp-sm;
}

.Search-alert--error {

}
