.sidebar__section {
  margin-bottom: $vsp-xl;
}

.sidebar__section--about {
  align-items: flex-start;
  @media #{$brkpt-md-only} {
    display: flex;
  }
}

.sidebar__section--social {
  flex: 1 0 auto;
}

.sidebar__section--search {
  flex: 1 auto;
}

.sidebar__label {
  @extend %fs-5;
  font-family: $ff-disp;
  font-style: italic;
  font-weight: 400;
  color: $c-black;
  margin-bottom: $vsp-md;
}

.sidebar__description {
  @extend %fs-ui;
  font-family: $ff-serif;
  color: $c-grey-75;
  margin: 0;
}

.sidebar__social {

}
