$brkpt-xs: screen and (min-width: 24rem);
$brkpt-sm: screen and (min-width: 36rem);
$brkpt-md: screen and (min-width: 48rem);
$brkpt-lg: screen and (min-width: 64rem);
$brkpt-xl: screen and (min-width: 80rem);
