<div id="drawer" class="Drawer">
  <div class="Drawer-content">
    <nav role="navigation" aria-label="Full Menu" class="Drawer-section Drawer-section--pages">
      <p class="Drawer-sectionHeading">Go to</p>
      <ul class="Drawer-list">
        {{ range .Site.Menus.main }}
        <li class="Drawer-listItem">
          <a href="{{ .URL | absURL }}" class="Drawer-listLink">
            {{ .Name }}
          </a>
        </li>
        {{ end }}
      </ul>
    </nav>
    <div class="Drawer-section Drawer-section--blog">
      {{ $post := index (where .Site.RegularPages "Section" "post") 0 }}
      <p class="Drawer-sectionHeading">From the Blog</p>
      <article class="Card Card--blogPost Card--small Card--bordered">
        <div class="Card-thumb">
          {{ with $post.Params.cover_image }}
          <img src="{{ .src }}" alt="{{ .caption | default $post.Title }}" class="Card-image">
          {{ end }}
        </div>
        <header class="Card-info">
          <h1 class="Card-title">
            <a aria-hidden tabindex="-1" href="{{ $post.Permalink | absURL }}">{{ $post.Title }}</a>
          </h1>
          {{ with $post.Params.teaser }}
          <p class="Card-teaser">
            {{ . }}
          </p>
          {{ end }}
        </header>
        <a href="{{ $post.Permalink | absURL }}" class="Card-link"><span class="u-forSR">{{ $post.Title }}</span></a>
      </article>
    </div>
    <div class="Drawer-section Drawer-section--taxonomies">
      <nav role="navigation" aria-labelledby="drawerSectionsHeader">
        <p class="Drawer-sectionHeading" id="drawerSectionsHeader">Sections</p>
        <ul class="Drawer-list">
          {{ range (first 9 .Site.Data.categories.categories) }}
          <li class="Drawer-listItem u-full xs-u-half md-u-third">
            <a href="{{ .name | urlize | printf "/categories/%s/" | absURL }}" class="Drawer-listLink Drawer-listLink--category">{{ .name }}</a>
          </li>
          {{ end }}
        </ul>
      </nav>
      <nav role="navigation" aria-labellyedby="drawerTagsHeader">
        <p id="drawerTagsHeader" class="Drawer-sectionHeading">Tags</p>
        <ul class="Drawer-list">
          {{ range (first 12 .Site.Taxonomies.tags.ByCount) }}
          <li class="Drawer-listItem lg-u-quarter">
            <a href="{{ printf "/tags/%s/" .Name | absURL }}" class="Drawer-listLink Drawer-listLink--tag">{{ .Name | humanize | lower }}</a>
          </li>
          {{ end }}
        </ul>
      </nav>
    </div>
  </div>
</div>
