{{ define "content" }}
  <form class="search card" action="{{ "/search/" | absURL }}">
    <label class="hidden" for="sidebar-search">Search</label>
    <input id="main-search" class="search__field wid-6" type="text" name="q" placeholder="Search">
    <button class="search__btn">
      <span class="hidden">Search</span>
      {{ partial "icon/magnify.svg" . }}
    </button>
  </form>
  <div id="search-results" class="md-grid">

  </div>
{{ end }}

{{ define "scripts" }}
  <script src="{{ "/assets/js/vendor/handlebars-v4.0.5.js" | absURL }}" charset="utf-8"></script>
  <script src="{{ "/assets/js/vendor/lunr.js" | absURL }}" charset="utf-8"></script>
  <script src="{{ "/assets/js/search.js" | absURL }}" charset="utf-8"></script>
{{ end }}
