{{ define "content" }}
  <form class="search card" action="{{ "/search/" | absURL }}">
    <label class="hidden" for="sidebar-search">Search</label>
    <input id="main-search" class="search__field wid-6" type="text" name="q" placeholder="Search">
  </form>
  <ul id="search-results-list" class="search__results">
    <li class="search__item">

    </li>
  </ul>
{{ end }}

{{ define "scripts" }}
  <script src="{{ "/assets/js/vendor/lunr.js" | absURL }}" charset="utf-8"></script>
  <script src="{{ "/assets/js/search.js" | absURL }}" charset="utf-8"></script>
{{ end }}
